load_module /usr/lib/nginx/modules/ngx_stream_module.so;
user www-data;
worker_processes auto;
pid /run/nginx.pid;
events {
  worker_connections 768;
  # multi_accept on;
}
stream {
  upstream k3s-http {
    {% for private_ip in private_ips %}
    server {{ private_ip }}:{{nginx_ingress_controller_http_nodeport }} max_fails=3 fail_timeout=10s;
    {% endfor -%}
  }
  upstream k3s-https {
    {% for private_ip in private_ips %}
    server {{ private_ip }}:{{ nginx_ingress_controller_https_nodeport }} max_fails=3 fail_timeout=10s;
    {% endfor -%}
  }
  log_format basic '$remote_addr [$time_local] '
    '$protocol $status $bytes_sent $bytes_received '
    '$session_time "$upstream_addr" '
    '"$upstream_bytes_sent" "$upstream_bytes_received" "$upstream_connect_time"';
  access_log /var/log/nginx/k3s_access.log basic;
  error_log  /var/log/nginx/k3s_error.log;
  proxy_protocol on;
  server {
    listen {{ https_lb_port }};
    proxy_pass k3s-https;
    proxy_next_upstream on;
  }
  server {
    listen {{ http_lb_port }};
    proxy_pass k3s-http;
    proxy_next_upstream on;
  }
}